.cuerpo {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #10335d;
}

.player {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls {
    display: flex;
    align-items: center;
}

button {
    margin-right: 10px;
    padding: 10px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    height: 120px;
    font-size: 2vh;
}

button:hover {
    background: #0056b3;
}

input[type="range"] {
    width: 100%;
}

.text{
    color: red;
    background-color: rgb(26, 21, 21);
    text-align: center;
   font-size: 90px;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist {
    margin-top: 20px;
    font-size: 2vh;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.playlist li {
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    margin-bottom: 5px;
    border-radius: 5px;
}

.playlist li:hover {
    background-color: #ddd;
}